/* Video portada */
video {
    width: 100vw;
    clip-path: inset(3% 0% 3% 0%);
    /*recorte de bordes negros sup e inf*/

}

.portada {
    display: flex;
    justify-content: center;
    width: 100vw;
}


.banners {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.img-fluid {
    width: 100%;
    height: auto;
    
}


/* .img-fluid:hover {
    transform: scale(1.01);
    transition: all 0.5s;
    
} */

/* Animación de banners impares 5° a la izquierda */
.img-fluid:hover {    
    transition: all 0.5s;
    rotate: -5deg;
    
}

/* Animación de banners pares 5° a la derecha */
.rot:hover {    
    transition: all 0.5s;
    rotate: 5deg;
}

/* #cajita {
    z-index: 100;
    width: 20em;
    height: 10em;
    position: absolute;
} */